<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D&amp;D News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
<div class="parralax">
    <div class="container">
        <div class="row">
            <div class="header col-md-10 offset-md-1" id="banner">
                <img src="/assets/images/newsheader.png" class="mx-auto" id="logo">
            </div>
        </div>
        {{{body}}}
    <div class="push"></div>


    
</div>



<footer class="footer">
        <p class="text-center footerText">
            Website &copy; Jack Mido Glover
            <br>
            D&amp;D &copy; Wizards of the Coast
        </p>
</footer>
</div>
</body>
</html>